# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\moyee\Downloads\cinder_0.9.2_vc2015\cinder\my-projects\naive-bayes-mkhan329\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
